{% extends 'lingual-template.html' %}

{% set title = "Welcome Back! - Lingual HSC" %}

{% block meta %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('main.static', filename='styles/login.css') }}">
<link rel="stylesheet" href="{{ url_for('main.static', filename='styles/registration.css') }}">
{% endblock %}

{% block body %}
<form id="form" action="{{ url_for('main.login') }}" method="POST">
    {{ form.hidden_tag() }}
    <section class="active">
        <h1>Welcome Back!</h1>
        <div class="form-body">
            <div class="form-elements">
                <h2>Log in to your account</h2>
                <div class="group-fields">
                    {{ form.email(placeholder="Email", autocomplete="email", autofocus=True) }}
                    {{ form.password(placeholder="Password", autocomplete="current-password") }}
                </div>
                <button type="submit" id="login-btn" class="next login-action">Log In</button>
                <button type="button" id="forgot-password-btn" class="next login-action">Reset Password</button>
                <p class="subtitle">I don't have an account. <a href="{{ url_for('main.register') }}">Register here</a>.</p>
            </div>
        </div>
    </section>
</form>
{% endblock body %}
