{% macro settings_jp(language) %}
    <div class="lang-settings">
        <div class="setting-group">
            <h3>Grammar</h3>
            
            <a onclick="openModal('ResetGrammarProgressFormModal')">Reset Learnt Grammar</a>
        </div>
        <div class="setting-group">
            <h3>Kanji Learning</h3>
            <a onclick="openModal('ClearPractisedKanjiFormModal')">Clear Practised Kanji</a>
            <a onclick="openModal('ClearKanjiDataFormModal')">Clear Kanji Data</a>
        </div>
    </div>
{% endmacro %}
