:root {
    font-size: 16px;

    /* Z-INDEXES */
    --z-index-top: 999;
    --z-index-nav: 1000;
    --z-index-modal: 1100;
    --z-index-flash: 1200;
    --z-index-god: 10000;

    --z-index-overlay: 10;
    --z-index-jump: 20;
    --z-index-tower: 30;
    --z-index-bird: 40;
    --z-index-cloud: 50;
    --z-index-sky: 60;

    /* SOFTENING RADIUS */
    --radius-small: 8px;
    --radius-medium: 20px;
    --radius-large: 50px;
}

/* Flash Styles */

#flash-container {
    position: fixed;
    top: 40px;
    right: 20px;
    z-index: var(--z-index-flash);

    display: flex;
    flex-direction: column;
    gap: 10px;
}

#flash-container .flash-message {
    font-size: 20px;
    padding: 15px 25px;
    border: black 1px solid;
    border-radius: 5px;
    max-width: 250px;
    color: #fff;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    display: none;
    transform: scale(0.95);
    opacity: 0;
    transition: opacity 0.4s ease, transform 0.4s ease-out;
    user-select: none;
    cursor: pointer;
}

#flash-container .flash-message.success {
    background-color: #4CAF50;
}

#flash-container .flash-message.error {
    background-color: #f44336;
}

#flash-container .flash-message.warning {
    background-color: #ff9800;
}

#flash-container .flash-message.info {
    background-color: #2196F3;
}

#flash-container .flash-message.fade-out {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}