#container {
    text-align: center;
    padding: 2em;
    margin: 0 auto;
}

#container h1 {
    font-size: 3em;
    margin-bottom: 0.5em;
}

#container h2 {
    font-size: 1.5em;
    margin-bottom: 1em;
}

#container #options {
    display: flex;
    gap: 1em;
    flex-direction: row;
    justify-content: center;
}

#container #options button, #container #options a {
    padding: 0.5em 1em;
    background-color: var(--colour-link-hover);
    color: var(--colour-text-on-accent);
    border: none;
    border-radius: 5px;
    text-decoration: none;
    font-size: 1em;
}

#container #options button:hover, #container #options a:hover {
    background-color: var(--colour-table-head);
    cursor: pointer;
}
