.lesson-item {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 15px;
    background-color: #f9f9f9;
}

.lesson-item:hover {
    background-color: #f1f1f1;
    cursor: pointer;
}