{% extends 'nihongo-template.html' %}

{% set title = "Quiz" %}

{% block meta %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/modal-styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/quiz-page.css') }}">
{% endblock %}

{% block body %}
{% from 'quiz-macros.html' import page %}
{{ page(quiz_topics, quiz_modals) }}

{% if quiz_topics %}
    {% for type in quiz_topics %}
    {% set modal = quiz_modals.get(type) %}
    {% if modal %}
        {% from 'modal-macros.html' import modal_form %}
        {{ modal_form(modal, auto_open=auto_open_modal and type == quiz_type) }}
    {% endif %}
    {% endfor %}
{% endif %}

{% endblock %}
