{% extends "module-base.html" %}

{% block meta %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='styles/graphic-bg.css') }}">
<link rel="stylesheet" href="{{ url_for('nihongo.static', filename='styles/nihongo.css') }}">

<style>
    :root {
        --graphic-bg-url: url("{{ url_for('nihongo.static', filename='app_assets/sakura-tree.png') }}");
    }
</style>

{% endblock %}

{% block header %}
<div class="graphic-bg"></div>
{{ super() }}
{% endblock %}

{% block nav_logo %}
<a href="{{ url_for('nihongo.home') }}">日本Go!</a>
{% endblock %}

{% block nav_links %}
<a href="">Quiz</a>
<a href="{{ url_for('nihongo.grammar') }}">Grammar</a>
<a href="{{ url_for('nihongo.home') }}">Kanji</a>
<a href="{{ url_for('nihongo.home') }}">Vocab</a>
{% endblock %}

{% block body %}

{% endblock %}
