{% extends 'nihongo-template.html' %}

{% set title = "Quiz" %}

{% block meta %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/modal-styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/quiz-page.css') }}">
{% endblock %}

{% block body %}
{% from 'quiz-macros.html' import page %}
{{ page(quiz_topics) }}

{% if quiz_type and quiz_type.get_modal() %}
    {% from 'macros/modal-macros.html' import modal_form %}
    {{ modal_form(quiz_type.get_modal()) }}
{% endif %}

{% endblock %}

{% block scripts %}
    {{ super() }}
{% endblock %}
