{% extends "tutorial-template.html" %}

{% set title = "Tutorials" %}

{% block meta %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='styles/lesson-directory.css') }}">
{% endblock %}

{% block scripts %}
{{ super() }}
<script src="{{ url_for('static', filename='js/lesson-directory-utils.js') }}"></script>
{% endblock %}

{% from "lesson-directory-macro.html" import lesson_directory %}

{% block body %}
    {{ lesson_directory(lessons, app_code, 'lessons', title) }}
{% endblock %}
