<!-- Dependencies -->
<!-- 
    - quiz-page.css
-->

{% macro page(quiz_topics) %}
    <div id="page-container">
        <h1>Lingual Quizzes</h1>
        <p>Test yourself by generating quizzes based on your preferences!</p>
        <div id="topics">
            <h2>Available Topics</h2>
            <div class="topics">
                {% for topic in quiz_topics %}
                    <div class="topic">
                        <div class="topic-info">
                            <h3>{{ topic.label }}</h3>
                            <p>{{ topic.description }}</p>
                        </div>
                        <div class="topic-actions">
                            <a class="action-start" href="{{ url_for('nihongo.quiz', type=topic.name) }}">Start Quiz</a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endmacro %}
