#form section button.next#register-btn {
    margin: 0;
    padding: 1rem 3rem;
    font-size: 2rem;
    border: none;
    border-radius: 50px;
    background: linear-gradient(145deg, #a989ea, #542cd9);
    color: #ffffff;
    cursor: pointer;
    transition: box-shadow 0.25s ease, background-color 0.35s ease;
}

#form section button.next:hover {
    filter: brightness(0.95);
    box-shadow: 0 0 8px rgba(220, 137, 234, 0.6);
}
