:root {
    --color-bg-white: #ffffff;
    --color-bg-accent-1: #effcff;
    --color-bg-accent-2: #e2f7ff;

    --color-primary: #2bda68;
    --color-secondary: #50c7ff;
    --color-soft-purple: #eff3ff;

    --space-xs: 8px;
    --space-sm: 16px;
    --space-md: 24px;
    --space-lg: 40px;
    --space-xl: 70px;

    --font-heading: "Poppins", Inter, Arial, sans-serif;
    --font-display: "Public Sans", Inter, Arial, sans-serif;
    --font-body: "Inter", Arial, sans-serif;

    --nav-height: 100px;
}

html, body {
    margin: 0;
    padding: 0;
    background-color: var(--color-bg-accent-1);
    font-family: var(--font-body);
    overflow-x: hidden;
}

nav {
    padding: 20px 40px;
    max-height: var(--nav-height);
    position: fixed;
}

nav a#logo {
    /* Does not impact landing page navigation. */
    font-size: 1.75rem;
    font-weight: 600;
    text-decoration: none;
    color: black;
}
